<span class="font-italic">
    ({{ m.getDateTime }})
    <span class="font-italic" style="font-weight: bold;">
        {{ m.getUsername }}
    </span>
    dice:
</span><br/>
<span>{{ m.getMessage }}</span>