<span class="font-italic" style="padding: 5px;">
    ({{ m.getDateTime }})
    <span class="font-italic" style="font-weight: bold;">
        {{ m.getUsername }}
    </span>
    dice:
</span><br/>
<span style="padding: 5px;">{{ m.getMessage }}</span>