<div class="col-12">
    <h1>Crear nueva reuni&oacute;n</h1>
    <form method="POST" action="{{ url_root }}save/">
        <input type="text" name="name" placeholder="Escribe un nombre">
        <button type="submit">Guardar</button>
    </form>
</div>
