{% extends 'template.html.twig' %}

{% block content %}

    {% include 'menu.html.twig' %}

    <div class="col-12" style="margin-top: 20px;">
        {% block body %}{% endblock %}
    </div>

{% endblock %}


