<div class="col-12">
<div class="row" style="background-color: whitesmoke; padding-top: 10px; padding-bottom: 10px;">

    <div class="col-10">
        <h1>{{ section }}</h1>
    </div>

    <div class="col-2">
        <a class="btn btn-danger align-content-end" href="{{ url_root }}logout/">Cerrar sesi&oacute;n</a>
    </div>

</div>
</div>