<html lang="es">
<head>
    <title>Who Talks</title>
    <link rel="icon" type="image/png" href="{{ asset('images/trasparent_logo.png') }}" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ asset('bootstrap/css/bootstrap.min.css') }}">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="{{ asset('bootstrap/js/bootstrap.min.js')}}"></script>
    <script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
    {% block js %}{% endblock %}
</head>
<body>
<div id="body" class="container-fluid" style="height:100%; background-color: #e1f5fe;">
    <div class="row">
        {% block content %}{% endblock %}
    </div>
</div>
</body>
</html>
